{
  "openapi": "3.1.0",
  "info": {
    "title": "Fetchin API",
    "version": "1.0.0",
    "description": "Public LinkedIn data API for fetching posts and profile information"
  },
  "servers": [
    {
      "url": "https://api.fetchin.io",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/posts": {
      "get": {
        "summary": "Get LinkedIn posts from a profile",
        "description": "Fetch posts from a LinkedIn profile using either profile URL or URN",
        "parameters": [
          {
            "name": "profileUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn profile URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/in/username"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of posts to fetch (default: 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "paginationToken",
            "in": "query",
            "required": false,
            "description": "Token for fetching the next page of posts. Use the paginationToken from the previous response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "urn:li:activity:1234567890"
                      },
                      "content": {
                        "type": "string",
                        "example": "This is a LinkedIn post content..."
                      },
                      "date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "reactionCount": {
                        "type": "integer"
                      },
                      "commentCount": {
                        "type": "integer"
                      },
                      "imageUrl": {
                        "type": "string"
                      },
                      "videoUrl": {
                        "type": "string"
                      },
                      "carouselPdfUrl": {
                        "type": "string"
                      },
                      "profile": {
                        "type": "object",
                        "required": ["urn", "name", "headline", "url", "imageUrl"],
                        "properties": {
                          "urn": {
                            "type": "string",
                            "example": "urn:li:fsd_profile:ACoAAABCDEF"
                          },
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "headline": {
                            "type": "string",
                            "example": "Software Engineer at Tech Company"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://www.linkedin.com/in/johndoe"
                          },
                          "imageUrl": {
                            "type": "string",
                            "example": "https://media.licdn.com/dms/image/..."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Either RPS limit exceeded (per-second rate limit) or monthly quota exceeded"
          }
        }
      }
    },
    "/api/v1/posts/updates": {
      "get": {
        "summary": "Get recent posts from multiple LinkedIn profiles",
        "description": "Fetch and aggregate recent posts from up to 60 LinkedIn profiles. Returns the last 15 posts (or specified count) from EACH profile. **Credits:** This endpoint consumes 1 credit per 1-15 profiles (rounded up). Examples: 10 profiles = 1 credit, 20 profiles = 2 credits, 45 profiles = 3 credits.",
        "parameters": [
          {
            "name": "profileUrlsOrUrns",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of LinkedIn profile URLs or URNs (maximum 60)",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/in/username1,https://www.linkedin.com/in/username2"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of posts to return PER PROFILE (default: 15). With 2 profiles and count=15, you get up to 30 posts total.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "urn:li:activity:1234567890"
                          },
                          "content": {
                            "type": "string",
                            "example": "This is a LinkedIn post content..."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "reactionCount": {
                            "type": "integer"
                          },
                          "commentCount": {
                            "type": "integer"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "videoUrl": {
                            "type": "string"
                          },
                          "carouselPdfUrl": {
                            "type": "string"
                          },
                          "profile": {
                            "type": "object",
                            "required": ["urn", "name", "headline", "url", "imageUrl"],
                            "properties": {
                              "urn": {
                                "type": "string",
                                "example": "urn:li:fsd_profile:ACoAAABCDEF"
                              },
                              "name": {
                                "type": "string",
                                "example": "John Doe"
                              },
                              "headline": {
                                "type": "string",
                                "example": "Software Engineer at Tech Company"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://www.linkedin.com/in/johndoe"
                              },
                              "imageUrl": {
                                "type": "string",
                                "example": "https://media.licdn.com/dms/image/..."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Either RPS limit exceeded (per-second rate limit) or monthly quota exceeded"
          }
        }
      }
    },
    "/api/v1/post/comments": {
      "get": {
        "summary": "Get comments from a LinkedIn post",
        "description": "Fetch comments from a LinkedIn post including author information and replies (subcomments)",
        "parameters": [
          {
            "name": "postUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn post URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/posts/username_post-slug-1234567890-abcd"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of comments to fetch (default: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "paginationToken",
            "in": "query",
            "required": false,
            "description": "Token for fetching the next page of comments",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "urn": {
                            "type": "string",
                            "example": "urn:li:comment:(ugcPost:7287782484287606784,7287957733851484162)"
                          },
                          "text": {
                            "type": "string",
                            "example": "Great post! Thanks for sharing."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "reactionCount": {
                            "type": "integer"
                          },
                          "author": {
                            "type": "object",
                            "required": ["id", "name", "headline", "profilePictureUrl", "profileUrl"],
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "urn:li:fsd_profile:ACoAABCDEFG"
                              },
                              "name": {
                                "type": "string",
                                "example": "Jane Doe"
                              },
                              "headline": {
                                "type": "string",
                                "example": "Software Engineer at Tech Company"
                              },
                              "profilePictureUrl": {
                                "type": "string",
                                "example": "https://media.licdn.com/dms/image/..."
                              },
                              "profileUrl": {
                                "type": "string",
                                "example": "https://www.linkedin.com/in/janedoe"
                              }
                            }
                          },
                          "replies": {
                            "type": "array",
                            "description": "Array of reply comments (subcomments)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "urn": {
                                  "type": "string"
                                },
                                "text": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "reactionCount": {
                                  "type": "integer"
                                },
                                "author": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "headline": {
                                      "type": "string"
                                    },
                                    "profilePictureUrl": {
                                      "type": "string"
                                    },
                                    "profileUrl": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "replies": {
                                  "type": "array",
                                  "items": {}
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "paginationToken": {
                      "type": "string",
                      "description": "Token for fetching the next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more comments are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Either RPS limit exceeded (per-second rate limit) or monthly quota exceeded"
          }
        }
      }
    },
    "/api/v1/profile": {
      "get": {
        "summary": "Get LinkedIn profile information",
        "description": "Fetch profile details from LinkedIn using profile URL or URN",
        "parameters": [
          {
            "name": "profileUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn profile URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/in/username"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "LinkedIn profile URN (unique identifier)",
                      "example": "urn:li:fsd_profile:ACoAAABCDEF"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string",
                      "description": "Professional headline"
                    },
                    "description": {
                      "type": "string",
                      "description": "About/summary section"
                    },
                    "location": {
                      "type": "string"
                    },
                    "profilePictureUrl": {
                      "type": "string"
                    },
                    "experiences": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string", "description": "Company name" },
                          "jobTitle": { "type": "string", "description": "Job title/role" },
                          "description": { "type": "string", "description": "Role description" },
                          "dateRange": { "type": "string", "description": "Date range" },
                          "locationName": { "type": "string", "description": "Job location" },
                          "employmentType": { "type": "string", "description": "Employment type (e.g., Freelance, Part-time)" },
                          "timePeriod": {
                            "type": "object",
                            "properties": {
                              "startDate": { "type": "object", "properties": { "month": { "type": "number" }, "year": { "type": "number" } } },
                              "endDate": { "type": ["object", "null"], "properties": { "month": { "type": "number" }, "year": { "type": "number" } } }
                            }
                          },
                          "totalDuration": { "type": "string", "description": "Duration string (e.g., 3 yrs 1 mo)" },
                          "company": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "url": { "type": "string", "description": "Company LinkedIn URL" },
                              "logo": { "type": "string", "description": "Company logo URL" }
                            }
                          }
                        }
                      }
                    },
                    "educations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string", "description": "School/University name" },
                          "description": { "type": "string", "description": "Degree and field combined" },
                          "dateRange": { "type": "string", "description": "Date range" },
                          "degreeName": { "type": "string", "description": "Degree name (e.g., MBA, MSEE)" },
                          "fieldOfStudy": { "type": "string", "description": "Field of study" },
                          "schoolLogo": { "type": "string", "description": "School logo URL" },
                          "schoolUrl": { "type": "string", "description": "School LinkedIn URL" },
                          "timePeriod": {
                            "type": "object",
                            "properties": {
                              "startDate": { "type": "object", "properties": { "year": { "type": "number" } } },
                              "endDate": { "type": "object", "properties": { "year": { "type": "number" } } }
                            }
                          }
                        }
                      }
                    },
                    "volunteerCauses": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "Volunteer causes listed on the profile"
                    },
                    "skills": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Skill name"
                          }
                        }
                      }
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Language name"
                          },
                          "proficiency": {
                            "type": "string",
                            "description": "Proficiency level"
                          }
                        }
                      }
                    },
                    "certifications": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Certification name"
                          },
                          "authority": {
                            "type": "string",
                            "description": "Issuing authority"
                          },
                          "dateRange": {
                            "type": "string",
                            "description": "Date range"
                          }
                        }
                      }
                    },
                    "coverImageUrl": {
                      "type": "string",
                      "description": "Profile banner/background image URL"
                    },
                    "publicIdentifier": {
                      "type": "string",
                      "description": "LinkedIn public identifier (slug)"
                    },
                    "profileId": {
                      "type": "string",
                      "description": "LinkedIn member identifier"
                    },
                    "countryCode": {
                      "type": "string",
                      "description": "ISO country code"
                    },
                    "geoLocationName": {
                      "type": "string",
                      "description": "Full geographic location string"
                    },
                    "geoCountryName": {
                      "type": "string",
                      "description": "Country name"
                    },
                    "geoUrn": {
                      "type": "string",
                      "description": "LinkedIn geo URN"
                    },
                    "connectionType": {
                      "type": "string",
                      "description": "Relationship to the authenticated account"
                    },
                    "creatorInfo": {
                      "type": "object",
                      "description": "Creator mode information",
                      "properties": {
                        "hashTags": {
                          "type": "array",
                          "items": { "type": "string" },
                          "description": "Creator hashtags"
                        },
                        "website": {
                          "type": ["string", "null"],
                          "description": "Creator website URL"
                        }
                      }
                    },
                    "jobTitle": {
                      "type": "string",
                      "description": "Current job title"
                    },
                    "companyName": {
                      "type": "string",
                      "description": "Current company name"
                    },
                    "companyPublicId": {
                      "type": "string",
                      "description": "Current company LinkedIn slug"
                    },
                    "companyLinkedinUrl": {
                      "type": "string",
                      "description": "Current company LinkedIn URL"
                    },
                    "followerCount": {
                      "type": "number",
                      "description": "Number of followers"
                    },
                    "connectionsCount": {
                      "type": "number",
                      "description": "Number of connections"
                    },
                    "creator": {
                      "type": "boolean",
                      "description": "Whether Creator mode is enabled"
                    },
                    "influencer": {
                      "type": "boolean",
                      "description": "Whether the profile is a LinkedIn Influencer"
                    },
                    "premium": {
                      "type": "boolean",
                      "description": "Whether the profile has LinkedIn Premium"
                    },
                    "isVerified": {
                      "type": "boolean",
                      "description": "Whether the profile has a verification badge"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Either RPS limit exceeded (per-second rate limit) or monthly quota exceeded"
          }
        }
      }
    },
    "/api/v1/profile/reactions": {
      "get": {
        "summary": "Get posts a LinkedIn profile has reacted to",
        "description": "Fetch posts that a LinkedIn profile has reacted to (liked, loved, etc.) with the reaction type and full post details. The `post` object in each reaction has the same shape as items returned by `GET /api/v1/posts`.",
        "parameters": [
          {
            "name": "profileUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn profile URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/in/username"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of reactions to fetch (default: 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "paginationToken",
            "in": "query",
            "required": false,
            "description": "Token for fetching the next page of reactions. Use the paginationToken from the previous response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched profile reactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reactionType": {
                            "type": "string",
                            "enum": ["LIKE", "EMPATHY", "ENTERTAINMENT", "INTEREST", "PRAISE", "APPRECIATION"],
                            "description": "The type of reaction: LIKE (Like), EMPATHY (Love), ENTERTAINMENT (Funny), INTEREST (Insightful), PRAISE (Celebrate), APPRECIATION (Support)"
                          },
                          "post": {
                            "type": "object",
                            "description": "The post that was reacted to. Same shape as items from GET /api/v1/posts.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "urn:li:activity:1234567890"
                              },
                              "content": {
                                "type": "string",
                                "example": "This is a LinkedIn post content..."
                              },
                              "date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "reactionCount": {
                                "type": "integer"
                              },
                              "commentCount": {
                                "type": "integer"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "videoUrl": {
                                "type": "string"
                              },
                              "carouselPdfUrl": {
                                "type": "string"
                              },
                              "profile": {
                                "type": "object",
                                "required": ["urn", "name", "headline", "url", "imageUrl"],
                                "properties": {
                                  "urn": {
                                    "type": "string",
                                    "example": "urn:li:fsd_profile:ACoAAABCDEF"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "John Doe"
                                  },
                                  "headline": {
                                    "type": "string",
                                    "example": "Software Engineer at Tech Company"
                                  },
                                  "url": {
                                    "type": "string",
                                    "example": "https://www.linkedin.com/in/johndoe"
                                  },
                                  "imageUrl": {
                                    "type": "string",
                                    "example": "https://media.licdn.com/dms/image/..."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "paginationToken": {
                      "type": "string",
                      "description": "Token for fetching the next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more reactions are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Either RPS limit exceeded (per-second rate limit) or monthly quota exceeded"
          }
        }
      }
    },
    "/api/v1/post/reactions": {
      "get": {
        "summary": "Get reactions on a LinkedIn post",
        "description": "Fetch who reacted to a specific LinkedIn post, including their reaction type and profile information.",
        "parameters": [
          {
            "name": "postUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn post URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/posts/username_post-slug-1234567890-abcd"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of reactions to fetch (default: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched post reactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reactionType": {
                            "type": "string",
                            "enum": ["LIKE", "EMPATHY", "ENTERTAINMENT", "INTEREST", "PRAISE", "APPRECIATION"],
                            "description": "The type of reaction: LIKE (Like), EMPATHY (Love), ENTERTAINMENT (Funny), INTEREST (Insightful), PRAISE (Celebrate), APPRECIATION (Support)"
                          },
                          "actor": {
                            "type": "object",
                            "required": ["urn", "name", "headline", "profileUrl", "profilePictureUrl"],
                            "properties": {
                              "urn": {
                                "type": "string",
                                "example": "urn:li:fsd_profile:ACoAAABCDEF"
                              },
                              "name": {
                                "type": "string",
                                "example": "Jane Doe"
                              },
                              "headline": {
                                "type": "string",
                                "example": "Software Engineer at Tech Company"
                              },
                              "profileUrl": {
                                "type": "string",
                                "example": "https://www.linkedin.com/in/ACoAAABCDEF"
                              },
                              "profilePictureUrl": {
                                "type": "string",
                                "example": "https://media.licdn.com/dms/image/..."
                              }
                            }
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more reactions are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Either RPS limit exceeded (per-second rate limit) or monthly quota exceeded"
          }
        }
      }
    },
    "/api/v1/search": {
      "get": {
        "summary": "Search LinkedIn profiles",
        "description": "Search for LinkedIn profiles by keyword. Returns matching profiles with basic information.",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "Search keyword (name, title, company, etc.)",
            "schema": {
              "type": "string",
              "example": "software engineer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": ["name", "profileUrl"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Full name of the LinkedIn member",
                        "example": "John Doe"
                      },
                      "profileUrl": {
                        "type": "string",
                        "description": "LinkedIn profile URL",
                        "example": "https://www.linkedin.com/in/johndoe"
                      },
                      "profilePictureUrl": {
                        "type": "string",
                        "description": "Profile picture URL",
                        "example": "https://media.licdn.com/dms/image/..."
                      },
                      "headline": {
                        "type": "string",
                        "description": "Professional headline",
                        "example": "Software Engineer at Tech Company"
                      },
                      "location": {
                        "type": "string",
                        "description": "Geographic location",
                        "example": "San Francisco, CA"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing keyword parameter"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Either RPS limit exceeded (per-second rate limit) or monthly quota exceeded"
          }
        }
      }
    }
  }
}
