{
  "openapi": "3.1.0",
  "info": {
    "title": "Fetchin API",
    "version": "1.0.0",
    "description": "Public LinkedIn data API for fetching posts and profile information"
  },
  "servers": [
    {
      "url": "https://api.fetchin.io",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/posts": {
      "get": {
        "summary": "Get LinkedIn posts from a profile",
        "description": "Fetch posts from a LinkedIn profile using either profile URL or URN",
        "parameters": [
          {
            "name": "profileUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn profile URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/in/username"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of posts to fetch (default: 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "urn": {
                        "type": "string",
                        "example": "urn:li:activity:1234567890"
                      },
                      "text": {
                        "type": "string",
                        "example": "This is a LinkedIn post content..."
                      },
                      "publishedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "numberOfLikes": {
                        "type": "integer"
                      },
                      "numberOfComments": {
                        "type": "integer"
                      },
                      "numberOfReposts": {
                        "type": "integer"
                      },
                      "imageUrl": {
                        "type": "string"
                      },
                      "videoUrl": {
                        "type": "string"
                      },
                      "carouselPdfUrl": {
                        "type": "string"
                      },
                      "profile": {
                        "type": "object",
                        "required": ["urn", "name", "headline", "url", "imageUrl"],
                        "properties": {
                          "urn": {
                            "type": "string",
                            "example": "urn:li:fsd_profile:ACoAAABCDEF"
                          },
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "headline": {
                            "type": "string",
                            "example": "Software Engineer at Tech Company"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://www.linkedin.com/in/johndoe"
                          },
                          "imageUrl": {
                            "type": "string",
                            "example": "https://media.licdn.com/dms/image/..."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Quota exceeded"
          }
        }
      }
    },
    "/api/v1/posts/updates": {
      "get": {
        "summary": "Get recent posts from multiple LinkedIn profiles",
        "description": "Fetch and aggregate recent posts from up to 60 LinkedIn profiles. Returns the last 15 posts (or specified count) from EACH profile. **Credits:** This endpoint consumes 1 credit per 1-15 profiles (rounded up). Examples: 10 profiles = 1 credit, 20 profiles = 2 credits, 45 profiles = 3 credits.",
        "parameters": [
          {
            "name": "profileUrlsOrUrns",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of LinkedIn profile URLs or URNs (maximum 60)",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/in/username1,https://www.linkedin.com/in/username2"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of posts to return PER PROFILE (default: 15). With 2 profiles and count=15, you get up to 30 posts total.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "urn": {
                            "type": "string",
                            "example": "urn:li:activity:1234567890"
                          },
                          "text": {
                            "type": "string",
                            "example": "This is a LinkedIn post content..."
                          },
                          "publishedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "numberOfLikes": {
                            "type": "integer"
                          },
                          "numberOfComments": {
                            "type": "integer"
                          },
                          "numberOfReposts": {
                            "type": "integer"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "videoUrl": {
                            "type": "string"
                          },
                          "carouselPdfUrl": {
                            "type": "string"
                          },
                          "profile": {
                            "type": "object",
                            "required": ["urn", "name", "headline", "url", "imageUrl"],
                            "properties": {
                              "urn": {
                                "type": "string",
                                "example": "urn:li:fsd_profile:ACoAAABCDEF"
                              },
                              "name": {
                                "type": "string",
                                "example": "John Doe"
                              },
                              "headline": {
                                "type": "string",
                                "example": "Software Engineer at Tech Company"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://www.linkedin.com/in/johndoe"
                              },
                              "imageUrl": {
                                "type": "string",
                                "example": "https://media.licdn.com/dms/image/..."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Quota exceeded"
          }
        }
      }
    },
    "/api/v1/post/comments": {
      "get": {
        "summary": "Get comments from a LinkedIn post",
        "description": "Fetch comments from a LinkedIn post including author information and replies (subcomments)",
        "parameters": [
          {
            "name": "postUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn post URN",
            "schema": {
              "type": "string",
              "example": "urn:li:ugcPost:7287782484287606784"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of comments to fetch (default: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "paginationToken",
            "in": "query",
            "required": false,
            "description": "Token for fetching the next page of comments",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "urn": {
                            "type": "string",
                            "example": "urn:li:comment:(ugcPost:7287782484287606784,7287957733851484162)"
                          },
                          "text": {
                            "type": "string",
                            "example": "Great post! Thanks for sharing."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "reactionCount": {
                            "type": "integer"
                          },
                          "author": {
                            "type": "object",
                            "required": ["name", "headline", "profilePictureUrl", "profileUrl"],
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Jane Doe"
                              },
                              "headline": {
                                "type": "string",
                                "example": "Software Engineer at Tech Company"
                              },
                              "profilePictureUrl": {
                                "type": "string",
                                "example": "https://media.licdn.com/dms/image/..."
                              },
                              "profileUrl": {
                                "type": "string",
                                "example": "https://www.linkedin.com/in/janedoe"
                              }
                            }
                          },
                          "replies": {
                            "type": "array",
                            "description": "Array of reply comments (subcomments)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "urn": {
                                  "type": "string"
                                },
                                "text": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "reactionCount": {
                                  "type": "integer"
                                },
                                "author": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "headline": {
                                      "type": "string"
                                    },
                                    "profilePictureUrl": {
                                      "type": "string"
                                    },
                                    "profileUrl": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "replies": {
                                  "type": "array",
                                  "items": {}
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "paginationToken": {
                      "type": "string",
                      "description": "Token for fetching the next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more comments are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Quota exceeded"
          }
        }
      }
    },
    "/api/v1/profile": {
      "get": {
        "summary": "Get LinkedIn profile information",
        "description": "Fetch profile details from LinkedIn using profile URL or URN",
        "parameters": [
          {
            "name": "profileUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn profile URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/in/username"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "urn": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "headline": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "profilePictureUrl": {
                      "type": "string"
                    },
                    "about": {
                      "type": "string"
                    },
                    "experiences": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "endDate": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "education": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "school": {
                            "type": "string"
                          },
                          "degree": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "endDate": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too many requests - Quota exceeded"
          }
        }
      }
    }
  }
}

