{
  "openapi": "3.1.0",
  "info": {
    "title": "Fetchin API",
    "version": "1.0.0",
    "description": "Public LinkedIn data API for fetching posts and profile information"
  },
  "servers": [
    {
      "url": "https://api.fetchin.io",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error",
          "code"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable description of what went wrong. For display/logging; do not branch on this string."
          },
          "code": {
            "type": "string",
            "enum": [
              "MISSING_PARAMETER",
              "INVALID_PARAMETER",
              "INVALID_URN",
              "UNAUTHENTICATED",
              "INVALID_API_KEY",
              "FORBIDDEN",
              "NOT_FOUND",
              "PROFILE_NOT_FOUND",
              "POST_NOT_FOUND",
              "COMPANY_NOT_FOUND",
              "RATE_LIMITED",
              "QUOTA_EXHAUSTED",
              "INTERNAL_ERROR",
              "UPSTREAM_ERROR",
              "SERVICE_UNAVAILABLE",
              "UPSTREAM_TIMEOUT"
            ],
            "description": "Stable, machine-readable error code. Branch your integration on this value, not on the HTTP status alone or the message text."
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional structured context (e.g. creditsNeeded on quota errors)."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - a required parameter is missing or a value is invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "missingParameter": {
                "value": {
                  "error": "Missing profileUrlOrUrn parameter",
                  "code": "MISSING_PARAMETER"
                }
              },
              "invalidParameter": {
                "value": {
                  "error": "limit must be a number between 1 and 100",
                  "code": "INVALID_PARAMETER"
                }
              },
              "invalidUrn": {
                "value": {
                  "error": "Invalid URN format: foo",
                  "code": "INVALID_URN"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - the X-API-Key header is missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "missingApiKey": {
                "value": {
                  "error": "Missing API key. Include X-API-Key header.",
                  "code": "UNAUTHENTICATED"
                }
              },
              "invalidApiKey": {
                "value": {
                  "error": "Invalid API key",
                  "code": "INVALID_API_KEY"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found - the request was served successfully but the requested LinkedIn entity does not exist.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "profileNotFound": {
                "value": {
                  "error": "LinkedIn profile not found",
                  "code": "PROFILE_NOT_FOUND"
                }
              },
              "postNotFound": {
                "value": {
                  "error": "Unable to find post from url",
                  "code": "POST_NOT_FOUND"
                }
              },
              "companyNotFound": {
                "value": {
                  "error": "Unable to find company slug from urn",
                  "code": "COMPANY_NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too many requests - either your per-second rate limit (RATE_LIMITED) or your monthly credit quota (QUOTA_EXHAUSTED) was exceeded. Branch on `code` to tell them apart.",
        "headers": {
          "Retry-After": {
            "description": "Number of seconds to wait before retrying the request.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "rateLimited": {
                "value": {
                  "error": "Rate limit exceeded. Try again later.",
                  "code": "RATE_LIMITED"
                }
              },
              "quotaExhausted": {
                "value": {
                  "error": "Quota exceeded. Upgrade your plan or wait for renewal.",
                  "code": "QUOTA_EXHAUSTED"
                }
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service unavailable - our API is temporarily unable to serve this request (capacity exhausted or overloaded). This is on our side, not yours and not a LinkedIn outage. Retry with backoff, honoring the Retry-After header.",
        "headers": {
          "Retry-After": {
            "description": "Number of seconds to wait before retrying the request.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "serviceUnavailable": {
                "value": {
                  "error": "Service temporarily unable to serve this request. Please retry.",
                  "code": "SERVICE_UNAVAILABLE"
                }
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error - an unexpected error occurred in our API. Safe to retry; contact support if it persists.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "internalError": {
                "value": {
                  "error": "Internal server error",
                  "code": "INTERNAL_ERROR"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/posts": {
      "get": {
        "summary": "Get LinkedIn posts from a profile",
        "description": "Fetch posts from a LinkedIn profile using either profile URL or URN",
        "parameters": [
          {
            "name": "profileUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn profile URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/in/username"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of posts to fetch (default: 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "paginationToken",
            "in": "query",
            "required": false,
            "description": "Token for fetching the next page of posts. Use the paginationToken from the previous response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "urn:li:activity:1234567890",
                        "description": "Activity URN. References the post in the `urn:li:activity:*` namespace."
                      },
                      "shareUrn": {
                        "type": "string",
                        "example": "urn:li:ugcPost:7123456789012345678",
                        "description": "Share URN. References the same post as `id` but in the `urn:li:share:*` or `urn:li:ugcPost:*` namespace (depends on the post type)."
                      },
                      "content": {
                        "type": "string",
                        "example": "This is a LinkedIn post content..."
                      },
                      "date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "reactionCount": {
                        "type": "integer"
                      },
                      "commentCount": {
                        "type": "integer"
                      },
                      "sharesCount": {
                        "type": "integer",
                        "description": "Number of times the post was reshared."
                      },
                      "imageUrl": {
                        "type": "string"
                      },
                      "videoUrl": {
                        "type": "string"
                      },
                      "carouselPdfUrl": {
                        "type": "string"
                      },
                      "profile": {
                        "type": "object",
                        "required": [
                          "urn",
                          "name",
                          "headline",
                          "url",
                          "imageUrl"
                        ],
                        "properties": {
                          "urn": {
                            "type": "string",
                            "example": "urn:li:fsd_profile:ACoAAABCDEF"
                          },
                          "name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "headline": {
                            "type": "string",
                            "example": "Software Engineer at Tech Company"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://www.linkedin.com/in/johndoe"
                          },
                          "imageUrl": {
                            "type": "string",
                            "example": "https://media.licdn.com/dms/image/..."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/post/comments": {
      "get": {
        "summary": "Get comments from a LinkedIn post",
        "description": "Fetch comments from a LinkedIn post including author information and replies (subcomments)",
        "parameters": [
          {
            "name": "postUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn post URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/posts/username_post-slug-1234567890-abcd"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of comments to fetch (default: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "paginationToken",
            "in": "query",
            "required": false,
            "description": "Token for fetching the next page of comments",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "urn": {
                            "type": "string",
                            "example": "urn:li:comment:(ugcPost:7287782484287606784,7287957733851484162)"
                          },
                          "text": {
                            "type": "string",
                            "example": "Great post! Thanks for sharing."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "reactionCount": {
                            "type": "integer"
                          },
                          "author": {
                            "type": "object",
                            "required": [
                              "id",
                              "name",
                              "headline",
                              "profilePictureUrl",
                              "profileUrl"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "urn:li:fsd_profile:ACoAABCDEFG"
                              },
                              "name": {
                                "type": "string",
                                "example": "Jane Doe"
                              },
                              "headline": {
                                "type": "string",
                                "example": "Software Engineer at Tech Company"
                              },
                              "profilePictureUrl": {
                                "type": "string",
                                "example": "https://media.licdn.com/dms/image/..."
                              },
                              "profileUrl": {
                                "type": "string",
                                "example": "https://www.linkedin.com/in/janedoe"
                              }
                            }
                          },
                          "replies": {
                            "type": "array",
                            "description": "Array of reply comments (subcomments)",
                            "items": {
                              "type": "object",
                              "properties": {
                                "urn": {
                                  "type": "string"
                                },
                                "text": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "reactionCount": {
                                  "type": "integer"
                                },
                                "author": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "headline": {
                                      "type": "string"
                                    },
                                    "profilePictureUrl": {
                                      "type": "string"
                                    },
                                    "profileUrl": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "replies": {
                                  "type": "array",
                                  "items": {}
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "paginationToken": {
                      "type": "string",
                      "description": "Token for fetching the next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more comments are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/profile": {
      "get": {
        "summary": "Get LinkedIn profile information",
        "description": "Fetch profile details from LinkedIn using profile URL or URN",
        "parameters": [
          {
            "name": "profileUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn profile URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/in/username"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "LinkedIn profile URN (unique identifier)",
                      "example": "urn:li:fsd_profile:ACoAAABCDEF"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string",
                      "description": "Professional headline"
                    },
                    "description": {
                      "type": "string",
                      "description": "About/summary section"
                    },
                    "location": {
                      "type": "string"
                    },
                    "profilePictureUrl": {
                      "type": "string"
                    },
                    "experiences": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Company name"
                          },
                          "jobTitle": {
                            "type": "string",
                            "description": "Job title/role"
                          },
                          "description": {
                            "type": "string",
                            "description": "Role description"
                          },
                          "dateRange": {
                            "type": "string",
                            "description": "Date range"
                          },
                          "locationName": {
                            "type": "string",
                            "description": "Job location"
                          },
                          "employmentType": {
                            "type": "string",
                            "description": "Employment type (e.g., Freelance, Part-time)"
                          },
                          "timePeriod": {
                            "type": "object",
                            "properties": {
                              "startDate": {
                                "type": "object",
                                "properties": {
                                  "month": {
                                    "type": "number"
                                  },
                                  "year": {
                                    "type": "number"
                                  }
                                }
                              },
                              "endDate": {
                                "type": [
                                  "object",
                                  "null"
                                ],
                                "properties": {
                                  "month": {
                                    "type": "number"
                                  },
                                  "year": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          },
                          "totalDuration": {
                            "type": "string",
                            "description": "Duration string (e.g., 3 yrs 1 mo)"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string",
                                "description": "Company LinkedIn URL"
                              },
                              "logo": {
                                "type": "string",
                                "description": "Company logo URL"
                              }
                            }
                          }
                        }
                      }
                    },
                    "educations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "School/University name"
                          },
                          "description": {
                            "type": "string",
                            "description": "Degree and field combined"
                          },
                          "dateRange": {
                            "type": "string",
                            "description": "Date range"
                          },
                          "degreeName": {
                            "type": "string",
                            "description": "Degree name (e.g., MBA, MSEE)"
                          },
                          "fieldOfStudy": {
                            "type": "string",
                            "description": "Field of study"
                          },
                          "schoolLogo": {
                            "type": "string",
                            "description": "School logo URL"
                          },
                          "schoolUrl": {
                            "type": "string",
                            "description": "School LinkedIn URL"
                          },
                          "timePeriod": {
                            "type": "object",
                            "properties": {
                              "startDate": {
                                "type": "object",
                                "properties": {
                                  "year": {
                                    "type": "number"
                                  }
                                }
                              },
                              "endDate": {
                                "type": "object",
                                "properties": {
                                  "year": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "volunteerCauses": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Volunteer causes listed on the profile"
                    },
                    "skills": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Skill name"
                          }
                        }
                      }
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Language name"
                          },
                          "proficiency": {
                            "type": "string",
                            "description": "Proficiency level"
                          }
                        }
                      }
                    },
                    "certifications": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Certification name"
                          },
                          "authority": {
                            "type": "string",
                            "description": "Issuing authority"
                          },
                          "dateRange": {
                            "type": "string",
                            "description": "Date range"
                          }
                        }
                      }
                    },
                    "coverImageUrl": {
                      "type": "string",
                      "description": "Profile banner/background image URL"
                    },
                    "publicIdentifier": {
                      "type": "string",
                      "description": "LinkedIn public identifier (slug)"
                    },
                    "profileId": {
                      "type": "string",
                      "description": "LinkedIn member identifier"
                    },
                    "countryCode": {
                      "type": "string",
                      "description": "ISO country code"
                    },
                    "geoLocationName": {
                      "type": "string",
                      "description": "Full geographic location string"
                    },
                    "geoCountryName": {
                      "type": "string",
                      "description": "Country name"
                    },
                    "geoUrn": {
                      "type": "string",
                      "description": "LinkedIn geo URN"
                    },
                    "connectionType": {
                      "type": "string",
                      "description": "Relationship to the authenticated account"
                    },
                    "creatorInfo": {
                      "type": "object",
                      "description": "Creator mode information",
                      "properties": {
                        "hashTags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Creator hashtags"
                        },
                        "website": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Creator website URL"
                        }
                      }
                    },
                    "jobTitle": {
                      "type": "string",
                      "description": "Current job title"
                    },
                    "companyName": {
                      "type": "string",
                      "description": "Current company name"
                    },
                    "companyPublicId": {
                      "type": "string",
                      "description": "Current company LinkedIn slug"
                    },
                    "companyLinkedinUrl": {
                      "type": "string",
                      "description": "Current company LinkedIn URL"
                    },
                    "followerCount": {
                      "type": "number",
                      "description": "Number of followers"
                    },
                    "connectionsCount": {
                      "type": "number",
                      "description": "Number of connections"
                    },
                    "creator": {
                      "type": "boolean",
                      "description": "Whether Creator mode is enabled"
                    },
                    "influencer": {
                      "type": "boolean",
                      "description": "Whether the profile is a LinkedIn Influencer"
                    },
                    "premium": {
                      "type": "boolean",
                      "description": "Whether the profile has LinkedIn Premium"
                    },
                    "isVerified": {
                      "type": "boolean",
                      "description": "Whether the profile has a verification badge"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/profile/reactions": {
      "get": {
        "summary": "Get posts a LinkedIn profile has reacted to",
        "description": "Fetch posts that a LinkedIn profile has reacted to (liked, loved, etc.) with the reaction type and full post details. The `post` object in each reaction has the same shape as items returned by `GET /api/v1/posts`.",
        "parameters": [
          {
            "name": "profileUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn profile URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/in/username"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of reactions to fetch (default: 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "paginationToken",
            "in": "query",
            "required": false,
            "description": "Token for fetching the next page of reactions. Use the paginationToken from the previous response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched profile reactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reactionType": {
                            "type": "string",
                            "enum": [
                              "LIKE",
                              "EMPATHY",
                              "ENTERTAINMENT",
                              "INTEREST",
                              "PRAISE",
                              "APPRECIATION"
                            ],
                            "description": "The type of reaction: LIKE (Like), EMPATHY (Love), ENTERTAINMENT (Funny), INTEREST (Insightful), PRAISE (Celebrate), APPRECIATION (Support)"
                          },
                          "post": {
                            "type": "object",
                            "description": "The post that was reacted to. Same shape as items from GET /api/v1/posts.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "urn:li:activity:1234567890",
                                "description": "Activity URN. References the post in the `urn:li:activity:*` namespace."
                              },
                              "shareUrn": {
                                "type": "string",
                                "example": "urn:li:share:7123456789012345678",
                                "description": "Share URN. References the same post as `id` but in the `urn:li:share:*` namespace."
                              },
                              "content": {
                                "type": "string",
                                "example": "This is a LinkedIn post content..."
                              },
                              "date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "reactionCount": {
                                "type": "integer"
                              },
                              "commentCount": {
                                "type": "integer"
                              },
                              "sharesCount": {
                                "type": "integer",
                                "description": "Number of times the post was reshared."
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "videoUrl": {
                                "type": "string"
                              },
                              "carouselPdfUrl": {
                                "type": "string"
                              },
                              "profile": {
                                "type": "object",
                                "required": [
                                  "urn",
                                  "name",
                                  "headline",
                                  "url",
                                  "imageUrl"
                                ],
                                "properties": {
                                  "urn": {
                                    "type": "string",
                                    "example": "urn:li:fsd_profile:ACoAAABCDEF"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "John Doe"
                                  },
                                  "headline": {
                                    "type": "string",
                                    "example": "Software Engineer at Tech Company"
                                  },
                                  "url": {
                                    "type": "string",
                                    "example": "https://www.linkedin.com/in/johndoe"
                                  },
                                  "imageUrl": {
                                    "type": "string",
                                    "example": "https://media.licdn.com/dms/image/..."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "paginationToken": {
                      "type": "string",
                      "description": "Token for fetching the next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more reactions are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/post/reactions": {
      "get": {
        "summary": "Get reactions on a LinkedIn post",
        "description": "Fetch who reacted to a specific LinkedIn post, including their reaction type and profile information.",
        "parameters": [
          {
            "name": "postUrlOrUrn",
            "in": "query",
            "required": true,
            "description": "LinkedIn post URL or URN",
            "schema": {
              "type": "string",
              "example": "https://www.linkedin.com/posts/username_post-slug-1234567890-abcd"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of reactions to fetch (default: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Offset for pagination (default: 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched post reactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reactionType": {
                            "type": "string",
                            "enum": [
                              "LIKE",
                              "EMPATHY",
                              "ENTERTAINMENT",
                              "INTEREST",
                              "PRAISE",
                              "APPRECIATION"
                            ],
                            "description": "The type of reaction: LIKE (Like), EMPATHY (Love), ENTERTAINMENT (Funny), INTEREST (Insightful), PRAISE (Celebrate), APPRECIATION (Support)"
                          },
                          "actor": {
                            "type": "object",
                            "required": [
                              "urn",
                              "name",
                              "headline",
                              "profileUrl",
                              "profilePictureUrl"
                            ],
                            "properties": {
                              "urn": {
                                "type": "string",
                                "example": "urn:li:fsd_profile:ACoAAABCDEF"
                              },
                              "name": {
                                "type": "string",
                                "example": "Jane Doe"
                              },
                              "headline": {
                                "type": "string",
                                "example": "Software Engineer at Tech Company"
                              },
                              "profileUrl": {
                                "type": "string",
                                "example": "https://www.linkedin.com/in/ACoAAABCDEF"
                              },
                              "profilePictureUrl": {
                                "type": "string",
                                "example": "https://media.licdn.com/dms/image/..."
                              }
                            }
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more reactions are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/search": {
      "get": {
        "summary": "Search LinkedIn profiles",
        "description": "Search for LinkedIn profiles by keyword. Returns matching profiles with basic information.",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "Search keyword (name, title, company, etc.)",
            "schema": {
              "type": "string",
              "example": "software engineer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "name",
                      "profileUrl"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Full name of the LinkedIn member",
                        "example": "John Doe"
                      },
                      "profileUrl": {
                        "type": "string",
                        "description": "LinkedIn profile URL",
                        "example": "https://www.linkedin.com/in/johndoe"
                      },
                      "profilePictureUrl": {
                        "type": "string",
                        "description": "Profile picture URL",
                        "example": "https://media.licdn.com/dms/image/..."
                      },
                      "headline": {
                        "type": "string",
                        "description": "Professional headline",
                        "example": "Software Engineer at Tech Company"
                      },
                      "location": {
                        "type": "string",
                        "description": "Geographic location",
                        "example": "San Francisco, CA"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  }
}
